body, figure, h1, img, p, li, ul, div, a {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  font-family: sans-serif;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  list-style: none;

}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.thumbnails {
  display: block;
  width: 400px;
  margin: auto;
}

.gutter {
  position:relative
}
.gutter-images{
  width:93%;
  float:left;
  position: relative;
  left: 6%
}

.gutter-images img {
  width: 18%;
  display:block;
  float: left;
  border: 2px solid black;
  }

.gutter-images img:hover{
  border: 2px solid red;
}

a.nav {
  width:5%;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 36px;
  cursor: pointer;
}

a.nav.right{
  left: 95%;

}
